<h2>
  Diagrams
</h2>

<p>
<%= @routeinfo %>
</p>
<div id='controller_code'>
  <%= @file %>
</div>

<BR>
<BR>



<%# <iframe src"app/controllers/restaurants_controller.rb" style="width:783px; height:334px;" frameborder="1">
</iframe>

<iframe src="app/models/user.rb" style="width:783px; height:334px;" frameborder="1">
</iframe>
%>
