<table id='example' cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">

  <thead>
    <tr role="row">
      <th>
        Helper (
        <%= link_to "Path", "#", 'data-route-helper' => '_path',
                    title: "Returns a relative path (without the http or domain)" %>
        /
        <%= link_to "Url", "#", 'data-route-helper' => '_url',
                    title: "Returns an absolute url (with the http and domain)" %>
        )
      </th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="HTTP Verb: activate to sort column ascending">HTTP Verb</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 223px;" aria-label="Path: activate to sort column ascending">Path</th>
      <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 99px;" aria-sort="ascending" aria-label="Controller#Action: activate to sort column descending">Controller#Action</th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>

<script type='text/javascript'>
  setupRouteToggleHelperLinks();
</script>