<h2>
  Routes
</h2>

<p>
  Routes match in priority from top to bottom
</p>

<%= render layout: "route_wrapper" do %>
  <%= render partial: "route", collection: @routes.each_with_index.map{ |x, i| x[:id] = i; x } %>
<% end %>
