<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Routes</title>
  <%= stylesheet_link_tag "sextant/application" %>
  <%= javascript_include_tag "sextant/application" %>
  <%= csrf_meta_tags %>
  </head>
<body>

<%= yield %>

</body>
</html>
